* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Noto Sans JP', sans-serif;
    
}

.contenedor {
    background: #0d6919;
    width: 90%;
    max-width: 1000;
    margin: auto;

    /* Flex */
    display:flex;
    flex-flow: row wrap;
}

.contenedorFormulario {
    background: #34a042;
    width: 90%;
    max-width: 1000; 
    margin:auto;  
    /* Flex */
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.contenedorDolar {
    background: #34a042;
    width: 90%;
    max-width: 1000;
    margin: auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.form {
    background: #144575;
    color: #34a042;
    padding:20px;
    width: 50%;
    height: 480px;
    /* Flex */
    display: flex; 
    flex-direction: column;       
    align-items: center;
}

body {
    background: #e9e9e9;
}

header {
    background: #144575;
    width:100%;
    padding:20px;

    /*Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header .logo {
    color:#fff;
    font-size:30px;
}

header .logo img {
    width: 50px;
    vertical-align: top;
}

header .logo a {
    color: #34a042;
    text-decoration: none;
    font-family: 'Courgette', cursive;
    
    line-height: 50px;
}

header nav {
    width: 50%;
    /* Flex */
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

header nav a {
    background: #144575;
    color:#34a042;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    /* Flex */
    flex-grow: 1;
}

.main {
    background: #34a042;
    padding:20px;
    flex: 1;    
}

.preguntas {
    height: 200px;
    /*IMPORTANTE*/
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.preguntas div {
    padding:20px;
    
    /* Flex */    
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
}

.preguntas div a {
    background: #34a042;
    color: #144575;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    
    /* Flex */
    flex-grow: 1;
}
.main article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #144575;
    border-bottom: 1px solid#144575;
}

.main article:nth-last-child(1){
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.main article h2 {
    margin-bottom: 15px;
    margin-top: 15px;
}

p {
    text-align: justify;
}
aside {
    background: #144575;
    padding:20px;
    /* Flex */
    flex: 0 0 300px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: flex-start;
}

aside .widget {
    background: #34a042;
    height: 150px;
    margin: 10px;
}

aside .widget .imagen {
    display: flex;    
    height: 150px;
    align-items: center;
    justify-content: center;
}

footer {
    background: #144575;
    width: 100%;
    padding:20px;

    /* Flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .links {
    background: #144575;
    display:flex;
    flex-wrap:wrap;
}

footer .links a {
    flex-grow: 1;
    color: #34a042;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

footer .links a:hover {
    background:  #1d6d28;;
    color: #4bca5c;
}

footer .social {
    background:   #144575; 
       
}

footer .social a {
    color: #144575;
    background:   #34a042;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#contenedor-tabla {
    background-color: #144575;    
}
table {
    background-color: #144575;
    text-align: left;
    border-collapse:collapse;
    width: 100%;
}

th,td {
    padding: 5px;
}

th {
    text-align: center;
}

thead {
    background-color:#34a042;
    border-bottom: solid 5px #0d6919;
    color:#144575;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.9em;    
}

tbody {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.9em;
    color:#34a042;
}

tr:nth-child(even) {
    background-color: #9aa2aa;
}

tr:hover td {
    background-color: #34a042;
    color: white;
}

@media screen and (max-width: 800px) {
    .contenedor {
        flex-direction:column;
    }

    header {
        flex-direction:column;
        padding:0;        
    }

    header .logo {
        margin: 20px 0;
    }

    header nav {
        width: 100%;
    }

    aside {
        flex-direction: row;
        flex:0;
    }

    aside .widget {
        flex-grow: 1;
    }
    .form {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    aside {
        flex-direction: column;
    }

    footer {
        justify-content: space-around;
    }
    .form {
        background: #144575;
        color: #34a042;
        padding:20px;
        width: 90%;
        height: auto;
        font-size: 0.7em;
        /* Flex */
        display: flex; 
        flex-direction: column;       
        align-items: center;
    }
}